<!Doctypehtml>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>EMPRESA</title>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    </head>
<body bgcolor="800020">
           <header>
               <div>
                    <img class="logo" src="static/images/logo.png"  width="100px" height="100px">
                </div>
            <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/pag1">¿COMO JUGAR ROBLOX?</a></li>
                <li><a href="/pag2">Mas sobre Roblox...</a></li>
                <li><a href="/pag3">Contacto</a></li>
                <li><a href="/crud">Crud</a></li>
                  <li><a href="/registro">registrate</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/product">MARKETING</a></li>



            </ul>
            </nav>
            </header>
            <section class="main">
                <section class="articles">
                    <article>
                        <h2>-QUE ES-</h2>
                        <br>    
                        Roblox​ es una plataforma de videojuegos en línea. Los usuarios pueden crear sus propios 
                        mundos virtuales con el sistema de creación de juegos llamado Roblox Studio, desarrollado
                         por Roblox Corporation y disponible en solo en ordenadores personales*.
                        </article>
                         <article>
                        
                    </article>
                        <br>    
                    </article>
        </body>
  
</html>